#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.img1 {
    background-image: url(img1.jpg);
    width: 30vw;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.img2 {
    background-image: url(img2.jpg);
    width: 30vw;
    height: 40vw;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.img3 {
    background-image: url(img3.jpg);
    width: 30vw;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
