body {
    font-family: Sans-serif;
    margin: 40px;
}



#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.skema_pdf {
    flex-basis: 250;
    flex-grow: 1;


}

.fronter_pdf {
    flex-basis: 250;
    flex-grow: 1;

}

.forhold_pdf {
    flex-basis: 250;
    flex-grow: 1;

}

#container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.skitse_img1 {
    background-image: url(images/skitse1.jpg);
    width: 30vw;
    height: 40vw;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.skitse_img2 {
    background-image: url(images/skitse2.jpg);
    width: 30vw;
    height: 40vw;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.skitse_img3 {
    background-image: url(images/skitse3.jpg);
    width: 30vw;
    height: 40vw;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img1 {
    background-image: url(images/img1.jpg);
    width: 30vw;
    height: 40vw;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url(images/img2.jpg);
    width: 30vw;
    height: 40vw;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url(images/img3.jpg);
    width: 30vw;
    height: 40vw;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item {
    position: relative;

    border: 1px solid #333;

    overflow: hidden;
    width: 540px;
}

.item img {
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.item:hover img {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
